/* @font-face {
  font-family: "PingGuo";
  src: url("./gilroy-regular-3.otf");
} */
@font-face {
  font-family: "DIN Condensed";
  src: url("./DS-Digital.TTF");
}
@font-face {
  font-family: "Venryn Sans";
  src: url("./VenrynSans-Black.ttf");
}
