:root[data-theme="daytime"] {
  --theme: #41d662;
  --gg-page-bg: #f6f7fa;
  --gg-head-bg: #ffffff;
  --gg-head-shadow: 0 0.08rem 0.1rem rgba(0, 0, 0, 0.05);
  --gg-foot-bg: #f6f7fa;
  --gg-card-bg: #ffffff;
  --gg-nav-con-bg: #ffffff;
  --gg-foot-msg-bg: linear-gradient(180deg, #ffffff 0%, #f6f7fa 89.33%);
  --gg-foot-msg-shadow: none;
  --gg-nav-bg-active: #eceef2;
  --gg-nav-border-active: transparent;
  --gg-nav-shadow-active: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.05);
  --gg-nav-color-active: #000000;
  --gg-nav-bg: #ffffff;
  --gg-nav-color: #000000;
  --gg-lang-color: #31373d;
  --gg-btn-bg: linear-gradient(180deg, #28d853 0%, #1e9b3a 100%);
  --gg-btn-border: rgba(255, 255, 255, 0.4);
  --gg-btn-color: #ffffff;
  --gg-btn-bg-active: linear-gradient(180deg, #23c049 0%, #178530 100%);
  --gg-btn-border-active: rgba(255, 255, 255, 0.2);
  --gg-btn-color-active: #ffffff;
  --gg-btn-bg-disable: linear-gradient(180deg, #f0f2f9 0%, #edeff4 100%);
  --gg-btn-color-disable: #bbc1cc;
  --gg-btn-bg-common: linear-gradient(180deg, #28d853 0%, #1e9b3a 100%);
  --gg-btn-border-common: 1px solid rgba(255, 255, 255, 0.4);
  --gg-btn-color-common: #ffffff;
  --gg-title-main: #000000;
  --gg-text: #000000;
  --gg-subtitle: #5f6975;
  --gg-line: #edeef2;
  --gg-inp-bg: #f6f7fa;
  --gg-inp-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.05);
  --gg-inp-plac: #cfd1dc;
  --gg-notice-bg: linear-gradient(180deg, rgba(0, 0, 0, 2e-5) 0%, rgba(0, 0, 0, 0.2) 100%);
  --gg-notice-border: rgba(0, 0, 0, 0.2);
  --gg-intr-bg: #ffffff;
  --gg-intr-shadow: 0 0.08rem 0.1rem rgba(0, 0, 0, 0.05);
  --gg-intr-text: rgba(95, 105, 117, 0.8);
  --gg-intr-title: rgba(95, 105, 117, 0.8);
  --gg-pagination-bg: #484848;
  --gg-pagination-bg-active: #000000;
  --gg-home-head-btn-bg: #ffffff;
  --gg-home-head-btn-border: rgba(255, 255, 255, 0.1);
  --gg-home-head-icon: #9fa5ac;
  --gg-game-item-img-bg: #eaebee;
  --gg-game-item-text-bg: #ffffff;
  --gg-game-item-text-shadow: 0 0.08rem 0.1rem rgba(0, 0, 0, 0.05);
  --gg-bot-card-bg: linear-gradient(359.13deg, #eceef1 0.58%, #f1f3f6 99.09%);
  --gg-bot-card-border: transparent;
  --gg-user-popup-bg: #ffffff;
  --gg-user-popup-shadow: 0 0.12rem 0.2rem rgba(0, 0, 0, 0.1);
  --gg-user-popup-progress-con-bg: #f7f8fc;
  --gg-user-popup-progress-bar-bg: rgba(0, 0, 0, 0.1);
  --gg-user-popup-progress-bar-color: rgba(0, 0, 0, 0.6);
  --gg-user-popup-info-bot-bg: #f7f8fc;
  --gg-my-vip-img-bg: #d8d8d8;
  --gg-my-vip-bg: transparent;
  --gg-btn-text: #abb2c1;
  --gg-select-bg: #ffffff;
  --gg-select-shadow: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.05);
  --gg-table-head-bg: #f7f8fc;
  --gg-tab-btn-bg: #eceef2;
  --gg-tab-btn-border: transparent;
  --gg-tab-btn-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.05);
  --gg-notice-text-color: #5f6975;
  --gg-box-bg: #f7f8fc;
  --gg-box-border: rgba(255, 255, 255, 0.1);
  --gg-game-head-bg: #ffffff;
  --gg-game-head-shadow: 0 0.04rem 0, 08rem rgba(0, 0, 0, 0.05);
  --gg-collection-card-bg: #f6f7fa;
  --gg-collection-card-border: rgba(255, 255, 255, 0.2);
  --gg-collection-card-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.05);
  --gg-collection-card-bg-on: rgba(54, 175, 81, 0.1);
  --gg-collection-card-border-on: #36af51;
  --gg-lottery-info-btn-bg: linear-gradient(90deg, #97e31e 9.38%, #37af51 100%);
  --gg-lottery-card-bg: linear-gradient(0deg, #eff1f7 0%, #ffffff 100%);
  --gg-lottery-con-bg: linear-gradient(0deg, #eff1f7 0%, #fafbfe 100%);
  --gg-lottery-play-btn-bg: rgba(137, 143, 161, 0.1);
  --gg-lottery-play-btn-text: #898fa1;
  --gg-lottery-play-btn-border: rgba(137, 143, 161, 0.2);
  --gg-lottery-item-bg: #eceef2;
  --gg-lottery-item-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.05);
  --gg-lottery-amount-bg: linear-gradient(0deg, #eff1f7 0%, #ffffff 100%);
  --gg-lottery-amount-border: #dde2e9;
  --gg-lottery-amount-text: #91969d;
  --gg-lottery-select-item-subtitle: #5c5e66;
  --gg-lottery-head-bg: #ffffff;
  --gg-lottery-head-overlay: linear-gradient(180deg, rgba(31, 161, 60, 0.3) 0%, rgba(100, 177, 126, 0) 56.92%, rgba(100, 177, 126, 0) 100%);
  --gg-lottery-select-bg: #ffffff;
  --gg-lottery-select-shadow: 0 0.08rem 0.1rem rgba(0, 0, 0, 0.05);
  --gg-lottery-select-text: #abb2c1;
  --gg-lottery-selected-bg: #eceef2;
  --gg-lottery-selected-shadow: inset 0 0.02rem 4px0.04rem rgba(0, 0, 0, 0.05);
  --gg-lottery-nav-overlay: rgba(0, 0, 0, 0.7);
  --gg-lottery-bar-bg: #ffffff;
  --gg-lottery-select-con-bg-min: #f6f7fa;
  --gg-reset-text: #999999;
  --gg-overlay: rgba(0, 0, 0, 0.5);
  --gg-transfer-border: rgba(137, 143, 161, 0.2);
  --gg-transfer-color: #abb2c1;
  --gg-qrcode-bg: linear-gradient(359.13deg, #eceef1 0.58%, #f1f3f6 99.09%);
  --gg-qrcode-border: transparent;

  --logo-1: #37af51;
  --logo-2: #1b1d22;
  --card-bg: #ffffff;
  --card-bg-2: #f1faf0;
  --card-bg-3: rgba(236, 238, 245, 0.5);
  --page-bg: #f6f7fa;
  --input-bg: #eff0f3;
  --input-border: #dfe0e5;
  --system-1: #ff5050;
  --system-2: #2db76c;
  --nav-btn-bg-active: #37af51;
  --nav-btn-text-active: #ffffff;
  --nav-btn-bg: #f6f7fa;
  --nav-btn-text: #32373c;
  --btn-bg-active: conic-gradient(from 0deg at 50% 50%, #2d8c41 -0.01deg, #37af51 0.02deg, #2d8c41 359.99deg, #37af51 360.02deg);
  --btn-text-active: #ffffff;
  --btn-bg-active-1: conic-gradient(from 0deg at 50% 50%, #81df51 -0.01deg, #f2ffec 0.02deg, #81df51 359.99deg, #f2ffec 360.02deg);
  --btn-text-active-1: #32373c;
  --btn-bg-active-2: #ffffff;
  --btn-text-active-2: #32373c;
  --btn-bg-2: #eaecf2;
  --btn-text-2: #9399a0;
  --btn-bg-3: transparent;
  --btn-border-3: #c6cbd2;
  --btn-text-3: #61656c;
  --btn-bg-4: linear-gradient(90deg, #e6fbda 0%, rgba(255, 255, 255, 0) 100%);
  --btn-filter-4: drop-shadow(0px 1px 0.04rem rgba(83, 107, 113, 0.15));
  --btn-text-4: #32373c;
  --btn-bg-5: conic-gradient(from 0deg at 50% 50%, #f0f4f7 0deg, #bec5c7 359.75deg, #f0f4f7 360deg);
  --btn-bg-6: linear-gradient(0deg, #eff1f7 0%, #ffffff 100%);
  --btn-text-6: #91969d;
  --btn-border-6: #dde2e9;
  --body-main: #1b1d22;
  --decorate-text: #a6abb2;
  --line-form: #eaebed;
  --line-card: #5ed91d;
  --line-card-2: #d6e9cf;
  --shadow: 0 0.01rem 0.04rem rgba(83, 107, 113, 0.15);
  --obscuration: rgba(18, 23, 31, 0.5);
  --default-bg: #f2f2f7;
  --home-banner-bg: linear-gradient(270deg, #e9ecf2 0%, rgba(233, 236, 242, 0.21) 71.58%, #e9ecf2 100%);
  --home-banner-bg-1: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54.76%, rgba(255, 255, 255, 0.52) 70.38%, #f4f5f9 80.72%, #f3f4f8 100%);
  --home-card-bg-0: linear-gradient(90deg, #a5c9e4 -3.92%, #c8efe6 100%);
  --home-card-bg-1: linear-gradient(90deg, #c5a9fa -3.92%, #eecadf 100%);
  --home-card-bg-2: linear-gradient(90deg, #ccf8c1 -3.92%, #d5e3fa 100%);
  --home-card-bg-3: linear-gradient(90deg, #9995f0 -3.92%, #eec9e9 100%);
  --home-card-bg-4: linear-gradient(180deg, #ad84f9 0%, #ffffff 98.5%, #ffffff 100%);
  --home-card-bg-5: linear-gradient(180deg, #75eb7f 0%, #ffffff 98.5%, #ffffff 100%);
  --home-card-text-0: #008fff;
  --home-card-text-1: #562ac2;
  --home-card-text-2: #358331;
  --home-card-text-3: #5c50ff;
  --home-card-text-4: #5f29c8;
  --home-card-text-5: #2e8d42;
  --home-btn-bg-1: linear-gradient(180deg, #53d979 0%, #298c45 100%);
  --home-btn-shadow-1: inset 0px -1px 1px #007120, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-2: linear-gradient(180deg, #8e37e1 0%, #6918a8 100%);
  --home-btn-shadow-2: inset 0px -1px 1px #40136c, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-3: linear-gradient(180deg, #e2a050 0%, #d97033 100%);
  --home-btn-shadow-3: inset 0px -1px 1px #c54900, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-4: conic-gradient(from 0deg at 50% 50%, #591fbf 0deg, #744be7 0.01deg, #591fbf 360deg, #744be7 360.01deg);
  --home-btn-bg-5: conic-gradient(from 0deg at 50% 50%, #2d8c41 -0.01deg, #39b353 0.02deg, #2d8c41 359.99deg, #39b353 360.02deg);
  --home-card-obscuration: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
  --home-reason-bg-1: linear-gradient(119.51deg, #ebe8ff 10.92%, #bb90f1 71.79%);
  --home-reason-bg-2: linear-gradient(123.15deg, #cae8ef 10.63%, #7fc1e7 64.58%);
  --home-reason-bg-3: linear-gradient(123.15deg, #cff5fe 10.63%, #73d0de 64.58%);
  --home-reson-obscuration-1: linear-gradient(270deg, rgba(205, 178, 247, 0.5) 0%, rgba(201, 170, 246, 0.5) 100%);
  --home-reson-obscuration-2: linear-gradient(270deg, rgba(176, 210, 244, 0.1) 0%, rgba(177, 224, 248, 0.5) 100%);
  --home-reson-obscuration-3: linear-gradient(270deg, rgba(136, 225, 239, 0.5) 0%, rgba(136, 225, 239, 0.5) 100%);
  --home-h2-text: linear-gradient(270deg, #37af51 2%, #98e41d 100%);
  --defi-total-bg: linear-gradient(0deg, #f9fff6 0%, #fafbfe 100%);
  --vip-bg: linear-gradient(180deg, #f1ffe2 0%, #c5f7db 100%);
  --vip-text: #ffca12;
  --rate-text: linear-gradient(180deg, #7fff7c 0%, #3d86af 47.82%, #281c91 100%);
  --asset-bg: #fbfffc;
  --asset-border: #e0f8f2;
  --asset-shadow: 1px 1px 0.03rem #e0e8e6;

  --van-switch-background-color: #f6f7fa;
  --van-switch-node-background-color: #ffffff;
  --van-picker-mask-color: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)), linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));

  --lottery-bg: #fff;
  --lottery-shadow: 0px 0.01rem 0.04rem rgba(83, 107, 113, 0.15);
  --lottery-btn-color: #a7adb6;
  --lottery-btn-bg: #f6f7fa;
  --lottery-btn-shadow: 0px 0.01rem 0.01rem rgba(83, 107, 113, 0.15);
  --lottery-btn-hover-color: #4e5055;
  --lottery-btn-hover-bg: linear-gradient(85.71deg, #e6fbda 0.35%, rgba(241, 244, 239, 0.22) 97.66%);
  --lottery-btn-hover-shadow: 0px 0.01rem 0.02rem rgba(83, 107, 113, 0.15);

  --lottery-lcone-btn-color: #1b1d22;
  --lottery-lcone-btn-color-2: #37af51;
  --lottery-lcone-border-color: #fff;
  --lottery-lcone-time-color: #1b1d22;
  --lottery-lcone-time-color-2: #000;
  --lottery-lcone-time-bg: rgba(255, 255, 255, 0.45);

  --lottery-lctwo-btn-color: #161417;
  --lottery-lctwo-btn-color-2: #4e5055;
  --lottery-lctwo-btn-bg: #eaecf2;

  --lottery-lcthree-bg: linear-gradient(0deg, #eff1f7 0%, rgba(255, 255, 255, 0.42) 100%);
  --lottery-lcthree-shadow: 0 0.03rem 0.03rem rgba(136, 144, 149, 0.3);
  --lottery-lcthree-border-color: #dde2e9;

  --lottery-lcfour-bg: linear-gradient(0deg, #eff1f7 0%, #fafbfe 100%);
  --lottery-lcfour-btn-color: #000000;
  --lottery-lcfour-btn-color-2: #4e5055;
  --lottery-lcfour-btn-bg: linear-gradient(146.98deg, #f2f8fd 8.98%, #cdd2db 84.61%);

  --lottery-lcfive-btn-color: #4e5055;
  --lottery-lcfive-btn-color-2: #91969d;
  --lottery-lcfive-input-border-color: #dde2e9;
  --lottery-lcfive-input-color: #000;
  --lottery-lcfive-btn-bg: linear-gradient(0deg, #eff1f7 0%, #ffffff 100%);
  --lottery-lcfive-border-color: #dde2e9;

  --lottery-lcsix-btn-color: #1b1d22;
  --lottery-lcsix-btn-color-2: #1b1d22;
  --lottery-lcsix-btn-color-3: #808287;
  --lottery-lcsix-btn-color-4: #1b1d22;
  --lottery-lcsix-bg: linear-gradient(180deg, rgba(100, 177, 126, 0.3) 0%, rgba(100, 177, 126, 0.1) 56.92%, rgba(100, 177, 126, 0) 100%);
  --lottery-lcsix-form-bg: linear-gradient(0deg, #eff1f7 0%, #fafbfe 100%);

  --lottery-right-bg: #fff;
  --lottery-right-bg-3: linear-gradient(0deg, #eff1f7 0%, #fafbfe 100%);
  --lottery-right-list-bg: linear-gradient(180deg, rgba(100, 177, 126, 0.3) 0%, rgba(100, 177, 126, 0.1) 56.92%, rgba(100, 177, 126, 0) 100%);
  --lottery-right-list-shadow: 0 0.01rem 0.04rem rgba(83, 107, 113, 0.15);
  --lottery-right-bg-2: linear-gradient(0deg, #eff1f7 0%, #fafbfe 100%);
  --lottery-right-btn-color: #808287;
  --lottery-right-btn-color-2: #000;
  --lottery-right-btn-color-3: #4cbc10;
  --lottery-right-btn-color-4: #4e5055;
  --lottery-right-btn-color-5: #94969c;
  --lottery-right-border-color: #f5f7fd;
  --lottery-right-border-color-2: #85e354;
  --lottery-rule-color: #595d64;
}
:root[data-theme="night"] {
  --theme: #37af51;
  --gg-page-bg: #0e121a;
  --gg-head-bg: linear-gradient(180deg, #282f3f -62.85%, #1a2230 100%);
  --gg-head-shadow: none;
  --gg-foot-bg: #0e121a;
  --gg-card-bg: linear-gradient(180deg, #20283a 0%, #181f2c 100%);
  --gg-nav-con-bg: linear-gradient(180deg, #202634 0%, #181f2c 38.39%);
  --gg-foot-msg-bg: radial-gradient(257.04% 89.33% at 50% 0%, #252a36 0%, #181f2c 100%);
  --gg-foot-msg-shadow: inset 0 0.02rem 0 rgba(255, 255, 255, 0.1);
  --gg-nav-bg-active: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-nav-border-active: #3a4357;
  --gg-nav-shadow-active: none;
  --gg-nav-color-active: #ffffff;
  --gg-nav-bg: #2b2e36;
  --gg-nav-color: #a3aebc;
  --gg-lang-color: #767d8d;
  --gg-btn-bg: linear-gradient(180deg, #28d853 0%, #1e9b3a 100%);
  --gg-btn-border: rgba(255, 255, 255, 0.4);
  --gg-btn-color: #ffffff;
  --gg-btn-bg-active: linear-gradient(180deg, #23c049 0%, #178530 100%);
  --gg-btn-border-active: rgba(255, 255, 255, 0.2);
  --gg-btn-color-active: #ffffff;
  --gg-btn-bg-disable: linear-gradient(180deg, #323a4a 0%, #2a3341 100%);
  --gg-btn-color-disable: #606b82;
  --gg-btn-bg-common: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-btn-border-common: #3a4357;
  --gg-btn-color-common: #ffffff;
  --gg-title-main: #ffffff;
  --gg-text: #ffffff;
  --gg-subtitle: #8891a5;
  --gg-line: rgba(255, 255, 255, 0.1);
  --gg-inp-bg: #171c25;
  --gg-inp-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.1);
  --gg-inp-plac: #8891a5;
  --gg-notice-bg: linear-gradient(180deg, rgba(255, 255, 255, 1e-5) 0%, rgba(255, 255, 255, 0.1) 100%);
  --gg-notice-border: rgba(255, 255, 255, 0.2);
  --gg-intr-bg: radial-gradient(257.04% 89.33% at 50% 0%, #252a36 0%, #181f2c 100%);
  --gg-intr-shadow: inset 0 0.02rem 0 rgba(255, 255, 255, 0.1);
  --gg-intr-text: #8891a5;
  --gg-intr-title: #b9c0cf;
  --gg-pagination-bg: #ffffff;
  --gg-pagination-bg-active: #ffffff;
  --gg-home-head-btn-bg: radial-gradient(100% 100% at 50% 0%, #2b3347 0%, #20283a 100%);
  --gg-home-head-btn-border: rgba(255, 255, 255, 0.1);
  --gg-home-head-icon: #ffffff;
  --gg-game-item-img-bg: #1a212f;
  --gg-game-item-text-bg: linear-gradient(180deg, #20283a 0%, #181f2c 100%);
  --gg-game-item-text-shadow: none;
  --gg-bot-card-bg: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-bot-card-border: #3a4357;
  --gg-user-popup-bg: linear-gradient(180deg, #121722 0%, #111620 100%);
  --gg-user-popup-shadow: none;
  --gg-user-popup-progress-con-bg: #181f2c;
  --gg-user-popup-progress-bar-bg: rgba(255, 255, 255, 0.1);
  --gg-user-popup-progress-bar-color: rgba(255, 255, 255, 0.6);
  --gg-user-popup-info-bot-bg: #181f2c;
  --gg-my-vip-img-bg: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-my-vip-bg: rgba(0, 0, 0, 0.5);
  --gg-btn-text: #abb2c1;
  --gg-select-bg: radial-gradient(257.04% 89.33% at 50% 0%, #252a36 0%, #181f2c 100%);
  --gg-select-shadow: inset 0 0.01rem 0 rgba(255, 255, 255, 0.1);
  --gg-table-head-bg: #181f2c;
  --gg-tab-btn-bg: radial-gradient(100% 100% at 50% 0%, #2b3347 0%, #20283a 100%);
  --gg-tab-btn-border: rgba(255, 255, 255, 0.1);
  --gg-tab-btn-shadow: none;
  --gg-notice-text-color: #adb3c0;
  --gg-box-bg: #151c27;
  --gg-box-border: rgba(255, 255, 255, 0.1);
  --gg-game-head-bg: linear-gradient(180deg, #282f3f -62.85%, #1a2230 100%);
  --gg-game-head-shadow: inset 0 0.02rem 0 rgba(255, 255, 255, 0.1);
  --gg-collection-card-bg: rgba(23, 28, 37, 0.1);
  --gg-collection-card-border: rgba(255, 255, 255, 0.2);
  --gg-collection-card-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.1);
  --gg-collection-card-bg-on: rgba(54, 175, 81, 0.1);
  --gg-collection-card-border-on: #36af51;
  --gg-lottery-info-btn-bg: linear-gradient(180deg, rgba(40, 216, 83, 0.5) 0%, rgba(30, 155, 58, 0.5) 100%);
  --gg-lottery-card-bg: linear-gradient(0deg, rgba(21, 28, 39, 0.8) 0%, rgba(21, 28, 39, 0) 100%);
  --gg-lottery-con-bg: linear-gradient(0deg, rgba(21, 28, 39, 0.8) 0%, rgba(21, 28, 39, 0.1) 100%);
  --gg-lottery-play-btn-bg: rgba(137, 143, 161, 0.1);
  --gg-lottery-play-btn-text: #abb2c1;
  --gg-lottery-play-btn-border: rgba(137, 143, 161, 0.2);
  --gg-lottery-item-bg: #151c27;
  --gg-lottery-item-shadow: inset 0 0.02rem 0.04rem rgba(0, 0, 0, 0.1);
  --gg-lottery-amount-bg: transparent;
  --gg-lottery-amount-border: rgba(255, 255, 255, 0.2);
  --gg-lottery-amount-text: #8891a5;
  --gg-lottery-select-item-subtitle: rgba(255, 255, 255, 0.6);
  --gg-lottery-head-bg: #272f42;
  --gg-lottery-head-overlay: linear-gradient(180deg, rgba(31, 161, 60, 0.24) 0%, rgba(100, 177, 126, 0) 56.92%, rgba(100, 177, 126, 0) 100%);
  --gg-lottery-select-bg: linear-gradient(180deg, #20283a 0%, #181f2c 100%);
  --gg-lottery-select-shadow: none;
  --gg-lottery-select-text: #abb2c1;
  --gg-lottery-selected-bg: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-lottery-selected-shadow: none;
  --gg-lottery-nav-overlay: rgba(0, 0, 0, 0.7);
  --gg-lottery-bar-bg: linear-gradient(180deg, #20283a 0%, #181f2c 100%);
  --gg-lottery-select-con-bg-min: #0e121a;
  --gg-reset-text: #626a7d;
  --gg-overlay: rgba(0, 0, 0, 0.5);
  --gg-transfer-border: rgba(137, 143, 161, 0.2);
  --gg-transfer-color: #abb2c1;
  --gg-qrcode-bg: linear-gradient(180deg, #303749 0%, #252e42 100%);
  --gg-qrcode-border: #3a4357;

  --logo-1: #37af51;
  --logo-2: #1b1d22;
  --card-bg: #1e2024;
  --card-bg-2: linear-gradient(282.34deg, #202f44 1.79%, #222427 94.26%);
  --card-bg-3: rgba(48, 52, 66, 0.5);
  --page-bg: #24262b;
  --input-bg: transparent;
  --input-border: #5c5d68;
  --system-1: #ff5050;
  --system-2: #2db76c;
  --nav-btn-bg-active: #37af51;
  --nav-btn-text-active: #ffffff;
  --nav-btn-bg: #2b2e36;
  --nav-btn-text: #a3aebc;
  --btn-bg-active: conic-gradient(from 0deg at 50% 50%, #2d8c41 -0.01deg, #37af51 0.02deg, #2d8c41 359.99deg, #37af51 360.02deg);
  --btn-text-active: #ffffff;
  --btn-bg-active-1: conic-gradient(from 0deg at 50% 50%, #81df51 -0.01deg, #f2ffec 0.02deg, #81df51 359.99deg, #f2ffec 360.02deg);
  --btn-text-active-1: #32373c;
  --btn-bg-active-2: #343842;
  --btn-text-active-2: #ffffff;
  --btn-bg-2: #272a35;
  --btn-text-2: #ffffff;
  --btn-bg-3: transparent;
  --btn-border-3: #5c5d68;
  --btn-text-3: #ffffff;
  --btn-bg-4: linear-gradient(90deg, rgba(70, 184, 10, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  --btn-filter-4: none;
  --btn-text-4: #ffffff;
  --btn-bg-5: conic-gradient(from 0deg at 50% 50%, #1c2a3c 0deg, #0b1017 359.75deg, #1c2a3c 360deg);
  --btn-bg-6: linear-gradient(0deg, #1d1f23 0%, #30343a 100%);
  --btn-text-6: #91969d;
  --btn-border-6: #2b2e36;
  --body-main: #ffffff;
  --decorate-text: #a6abb2;
  --line-form: #2d3035;
  --line-card: #5ed91d;
  --line-card-2: #d6e9cf;
  --shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.4);
  --obscuration: rgba(0, 0, 0, 0.5);
  --default-bg: #2a2c37;
  --home-banner-bg: linear-gradient(270deg, #0f0e10 0%, #0f0e10 71.58%, #0f0e10 100%);
  --home-banner-bg-1: linear-gradient(180deg, rgba(26, 29, 30, 0) 0%, rgba(26, 29, 30, 0) 57.15%, rgba(26, 29, 30, 0.21) 71.58%, #1a1d1e 100%);
  --home-card-bg-0: linear-gradient(90deg, #4b708a -3.92%, #30574e 100%);
  --home-card-bg-1: linear-gradient(90deg, #6b50a0 -3.92%, #553146 100%);
  --home-card-bg-2: linear-gradient(90deg, #729f68 -3.92%, #3a495f 100%);
  --home-card-bg-3: linear-gradient(90deg, #3f3c97 -3.92%, #553151 95.67%);
  --home-card-bg-4: linear-gradient(180deg, #a376f2 0%, #281e3c 100%);
  --home-card-bg-5: linear-gradient(180deg, #67de71 0%, #132715 100%);
  --home-card-text-0: #6dd3ff;
  --home-card-text-1: #c78fff;
  --home-card-text-2: #3fca3e;
  --home-card-text-3: #b7a5ff;
  --home-card-text-4: #e2d3ff;
  --home-card-text-5: #d2ffdc;
  --home-btn-bg-1: linear-gradient(180deg, #53d979 0%, #298c45 100%);
  --home-btn-shadow-1: inset 0px -1px 1px #007120, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-2: linear-gradient(180deg, #8e37e1 0%, #6918a8 100%);
  --home-btn-shadow-2: inset 0px -1px 1px #40136c, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-3: linear-gradient(180deg, #e2a050 0%, #d97033 100%);
  --home-btn-shadow-3: inset 0px -1px 1px #c54900, inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  --home-btn-bg-4: conic-gradient(from 0deg at 50% 50%, #591fbf 0deg, #744be7 0.01deg, #591fbf 360deg, #744be7 360.01deg);
  --home-btn-bg-5: conic-gradient(from 0deg at 50% 50%, #2d8c41 -0.01deg, #39b353 0.02deg, #2d8c41 359.99deg, #39b353 360.02deg);
  --home-card-obscuration: linear-gradient(180deg, rgba(50, 16, 111, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --home-reason-bg-1: linear-gradient(119.51deg, #413c61 10.92%, #2a1545 71.79%);
  --home-reason-bg-2: linear-gradient(123.15deg, #304e55 10.63%, #0a2b3e 64.58%);
  --home-reason-bg-3: linear-gradient(123.15deg, #484662 10.63%, #0a1e3e 64.58%);
  --home-reson-obscuration-1: linear-gradient(270deg, rgba(23, 26, 29, 0.1) 0%, rgba(22, 26, 28, 0.5) 100%);
  --home-reson-obscuration-2: linear-gradient(270deg, rgba(23, 26, 29, 0.1) 0%, rgba(22, 26, 28, 0.5) 100%);
  --home-reson-obscuration-3: linear-gradient(270deg, rgba(23, 26, 29, 0.1) 0%, rgba(22, 26, 28, 0.5) 100%);
  --home-h2-text: linear-gradient(270deg, #37af51 2%, #98e41d 100%);
  --defi-total-bg: #1e2024;
  --vip-bg: linear-gradient(180deg, rgba(241, 255, 226, 0.15) 0%, #b1fc89 100%);
  --vip-text: #ffca12;
  --rate-text: linear-gradient(180deg, #7fff7c 0%, #3d86af 47.82%, #281c91 100%);
  --asset-bg: linear-gradient(282.34deg, #202f44 1.79%, #222427 94.26%);
  --asset-border: #2c2e34;
  --asset-shadow: 1px 1px 0.03rem #25282c;

  --van-switch-background-color: #2b2e36;
  --van-switch-node-background-color: #ffffff;
  --van-picker-mask-color: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));

  --lottery-bg: #1c1e22;
  --lottery-shadow: 0px 0.01rem 0.04rem rgba(83, 107, 113, 0.15);
  --lottery-btn-color: #a3aebc;
  --lottery-btn-bg: #2b2e36;
  --lottery-btn-shadow: 0px 0.01rem 0.01rem rgba(83, 107, 113, 0.15);
  --lottery-btn-hover-color: #ffffff;
  --lottery-btn-hover-bg: #37af51;
  --lottery-btn-hover-shadow: 0px 0.01rem 0.02rem rgba(100, 177, 126, 0.23);

  --lottery-lcone-btn-color: #fff;
  --lottery-lcone-btn-color-2: #fff;
  --lottery-lcone-border-color: #91a294;
  --lottery-lcone-time-color: #fff;
  --lottery-lcone-time-color-2: #fff;
  --lottery-lcone-time-bg: rgba(209, 234, 206, 0.45);

  --lottery-lctwo-btn-color: #fff;
  --lottery-lctwo-btn-color-2: #9ba7b4;
  --lottery-lctwo-btn-bg: #2b2e36;

  --lottery-lcthree-bg: linear-gradient(180deg, #24262b 0%, #141416 100%);
  --lottery-lcthree-shadow: 0;
  --lottery-lcthree-border-color: #5c5d68;

  --lottery-lcfour-bg: #212227;
  --lottery-lcfour-btn-color: #fff;
  --lottery-lcfour-btn-color-2: #fff;
  --lottery-lcfour-btn-bg: linear-gradient(146.98deg, #50545e 8.98%, #1c1e21 84.61%);

  --lottery-lcfive-btn-color: #9ca6b4;
  --lottery-lcfive-btn-color-2: #9ca6b4;
  --lottery-lcfive-input-border-color: #dde2e9;
  --lottery-lcfive-input-color: #fff;
  --lottery-lcfive-btn-bg: #24262b;
  --lottery-lcfive-border-color: #5c5d68;

  --lottery-lcsix-btn-color: #fff;
  --lottery-lcsix-btn-color-2: #9ca6b4;
  --lottery-lcsix-btn-color-3: #9ca6b4;
  --lottery-lcsix-btn-color-4: #fff;
  --lottery-lcsix-bg: linear-gradient(180deg, rgba(55, 175, 81, 0.4) 0%, rgba(100, 177, 126, 0.1) 56.92%, rgba(100, 177, 126, 0) 100%);
  --lottery-lcsix-form-bg: linear-gradient(180deg, #24262b 0%, #141416 100%);

  --lottery-right-bg: #1c1e22;
  --lottery-right-bg-3: linear-gradient(180deg, #24262b 0%, #141416 100%);
  --lottery-right-list-bg: linear-gradient(180deg, rgba(100, 177, 126, 0.3) 0%, rgba(100, 177, 126, 0.1) 56.92%, rgba(100, 177, 126, 0) 100%);
  --lottery-right-list-shadow: 0;
  --lottery-right-bg-2: linear-gradient(180deg, #24262b 0%, #141416 100%);
  --lottery-right-btn-color: #9ca6b4;
  --lottery-right-btn-color-2: #fff;
  --lottery-right-btn-color-3: #37af51;
  --lottery-right-btn-color-4: #fff;
  --lottery-right-btn-color-5: #9ca6b4;
  --lottery-right-border-color: #26282e;
  --lottery-right-border-color-2: #38b153;
  --lottery-rule-color: #87909d;
}
